body,
html {
    height: 100%;
}

h1,
h2 {
    font-family: cursive;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header {
    height: 10%;
    background-color: black;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    color: white;
    text-align: center;
    align-self: center;
}

#header > div {
    display: flex;
    width: 50%;
    justify-content: center;
}

#main {
    height: 50%;
    background-color: #EDF0F5;
}

#footer {
    height: 15%;
}

#login-form {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login-form label {
    color: white;
    font-size: 1rem;
}

#login-form input {
    height: 20px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 10px;
    padding-left: 10px;
}

#login-form button {
    height: 25px;
    width: 100px;
    margin-top: 20px;
    background-color: grey;
    border: 1px solid #2F477A;
    border-radius: 5px;
    color: white;
}

#login-form div {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
}

section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-section {
    align-items: flex-start;
}

#main section h1 {
    height: 10%;
    display: flex;
    margin-bottom: 20px;
}

#register-form {
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#register-form input {
    width: 500px;
    height: 30px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

#register-form div {
    width: 100%;
}

#register-form div input {
    width: 239px;
}

#register-form button {
    width: 270px;
    height: 40px;
    border: 1px solid grey;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

section img {
    width: 90px;
    height: 70px;
}

section span {
    font-size: 2rem;
}

section ul {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 75%;
}

section ul li {
    align-self: baseline;
    display: flex;
}

section ul li span {
    align-self: center;
}

section ul li img {
    margin-right: 20px;
}

#footer {
    display: flex;
    height: 40%;
    justify-content: center;
}

#footer li {
    display: inline;
}

#footer img {
    width: 24%;
}